<h3><%= @title %></h3>
<% @users.each do |user|%>
	<th>
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar.variant(resize_to_fill: [30, 30])%>
    <% end %>
  </th>
	<li><%= link_to user.name, user %></li>
<% end %>
